<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <nav class="bg-blue-500 p-4 text-white">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-2xl font-bold"><img class="w-full h-10"src="/images/logo.png" alt=""></a>
            <% if (user) { %>
                <div>
                    <span class="mr-4">Welcome, <%= user.username %></span>
                    <a href="/auth/logout" class="bg-blue-700 hover:bg-blue-800 px-4 py-2 rounded">Logout</a>
                </div>
            <% } else { %>
                <a href="/auth/login" class="bg-blue-700 hover:bg-blue-800 px-4 py-2 rounded">Login</a>
            <% } %>
        </div>
    </nav>
    <div class="container mx-auto mt-8">
    </div>
</body>
</html>